:root {
    --card-background: #fff;
    --card-border: transparent;
    --card-border-update: darkorange;
}
[data-theme='dark'] {
    --card-background: #000;
    --card-border: darkgray;
    --card-border-update: orange;
}
.dsmovie-form-container {
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
}
.dsmovie-form {
    width: calc(100% - 20px);
}
.dsmovie-form-group {
    margin-bottom: 20px;
}
.dsmovie-form-group label {
    font-size: 12px;
    color: var(--label);
}
.dsmovie-form-group select,
.dsmovie-form-group input {
    background-color: var(--background);
    color: var(--color);
}

.dsmovie-form-btn-container {
    display: flex;
    justify-content: center;
}
.dsmovie-movie-card-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.dsmovie-movie-card {
    border: 2px solid var(--card-border);
    border-radius: 8px;
    transition: border 1s ease;
}
.dsmovie-movie-card-border-update {
    border-color: var(--card-border-update);
}
.dsmovie-card-bottom-container {
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
}
.dsmovie-card-bottom-container h3 {
    color: var(--title);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 40px;
}

.dsmovie-btn {
    background-color: var(--background-primary);
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
