@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --background-primary: #255a1f;
  --color-primary: #fff;

  --backgound: #e8e8e8;
  --color: #000;
  --label: #aaa;
  --title: #4a4a4a;
  --disabled: #c2c2c2;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--backgound);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}