@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --background-primary: #4dc041;
  --color-primary: #ffffff;

  --backgound: #e8e8e8;
  --color: #000000;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--color);
}

html, body {
    background-color: var(--backgound);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}